## Group 4 Project Proposal - Loan Data
#### Maya Barron, Meghna Krishna, Grace Sullivan, Sowmya Subramaniam, Grace Deis

#### Questions: 
Will a borrower repay their loan in full? How can we classify whether a person will pay back their loan based on various features like FICO score, debt-to-income ratio, and interest rate?

Lenders earn money from people who repay their loans, but lose money from people who do not repay their entire loan. So our goal will be to predict, with as much accuracy as possible, whether someone will repay their loan based on a range of variables. In application, this model could help determine whether or not a personâ€™s loan application should be approved or denied.

#### Dataset and chosen variables: 
This dataset was found on Kaggle, but the data itself came from LendingClub.com where it is publicly available. 

The dataset has lending data from 2007-2010 and includes 14 variables, but we will be using a subset of those variables for our purposes. We will be predicting the not.fully.paid variable for debt consolidation loans based on the variables int.rate, installment, log.annual.inc, dti, fico, days.with.cr.line, revol.bal, and delinq.2yrs, which we will describe below.

- purpose:
    - Str
    - Describes the purpose of the loan
- int.rate
    - Float (between 0 and 1)
    - Shows the interest rate of the loan as a proportion
- installment
    - Float 
    - Describes the monthly installments to be paid
- log.annual.inc
    - Float 
    - Describes the natural log of the annual income of the borrower
- dti
    - Float 
    - Describes the debt-to-income ratio for the borrower (debt/annual income)
- fico
    - Int
    - Shows the FICO credit score of the borrower
- days.with.cr.line
    - Float 
    - Describes how many days the borrower has had a credit line
- revol.bal
    - Int
    - Shows the amount unpaid at the end of the credit card billing cycle
- delinq.2yrs
    - Int
    - Within the past 2 years, describes the number of times the borrower has been 30+ days past due on a payment
- not.fully.paid
    - Int (0 or 1)
    - Describes whether the loan was fully paid back (0) or not (1)
    - This will be the value we are predicting using the other columns

#### Methods: 

We will be using a decision tree classifier to model this problem. Our feature names will be int.rate, installment, log.annual.inc, dti, fico, days.with.cr.line, revol.bal, and delinq.2yrs. Our y value that we are predicting is the not.fully.paid variable. At each node, we will choose the feature and threshold on which to split by minimizing the cost associated with the split. The best subset pair is the one that minimizes the weighted average entropy of the split.

In [1]:
import pandas as pd

In [5]:
loans_raw = pd.read_csv("https://raw.githubusercontent.com/mrbarron3/stat451/main/loan_data.csv")

# if the line above doesn't work for some reason, download the csv file to the same directory as this file
# uncomment the next line if need be
# pd.read_csv("loan_data.csv")

print(len(loans_raw))

9578

In [6]:
loans = loans_raw[["purpose", "int.rate", "installment", "log.annual.inc", "dti", "fico", "days.with.cr.line", "revol.bal", "delinq.2yrs", "not.fully.paid"]]
#debt = loans[loans["purpose"] == "debt_consolidation"]
#print(len(debt))
loans.head()

,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,delinq.2yrs,not.fully.paid
0,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,0,0
1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,0,0
2,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,0,0
3,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,0,0
4,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,1,0

In [7]:
loans.describe()

,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,delinq.2yrs,not.fully.paid
count,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9.578000e+03,9578.000000,9578.000000
mean,0.122640,319.089413,10.932117,12.606679,710.846314,4560.767197,1.691396e+04,0.163708,0.160054
std,0.026847,207.071301,0.614813,6.883970,37.970537,2496.930377,3.375619e+04,0.546215,0.366676
min,0.060000,15.670000,7.547502,0.000000,612.000000,178.958333,0.000000e+00,0.000000,0.000000
25%,0.103900,163.770000,10.558414,7.212500,682.000000,2820.000000,3.187000e+03,0.000000,0.000000
50%,0.122100,268.950000,10.928884,12.665000,707.000000,4139.958333,8.596000e+03,0.000000,0.000000
75%,0.140700,432.762500,11.291293,17.950000,737.000000,5730.000000,1.824950e+04,0.000000,0.000000
max,0.216400,940.140000,14.528354,29.960000,827.000000,17639.958330,1.207359e+06,13.000000,1.000000